html, body { margin: 0; padding: 0; height: 100%; }

.yo_body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.flex {
  display: flex;
  height: 90%;
}

.container_centered {
  display: flex;
  justify-content: center;
}
.logo {
  display: block;
  width: 130px;
  height: 84px;
  background-color: transparent;
  background-image: url(elogo84.png);
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -2022px;
  z-index: 2;
  position: relative;
}

.content {
  display: flex;
  /* max-width: 960px; */
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  /* padding: 30px; */
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

a { color: var(--accent-color); text-decoration: none; font-weight: bold }
a:hover { text-decoration: underline }
ul, ol { list-style-type: none; margin: 0; padding: 0;}
h2 { text-align: center; padding-top: 10px; margin: 0 auto; text-transform: uppercase; font-weight: bold; font-size: 26px; color: var(--accent-color); }
h2.pagetitle { line-height: 48px; margin: 5px 0 5px 0 }
.hidden { display: none!important; }
#progress { position: absolute; z-index: 1000; background: var(--main-bg-color); opacity: 0.8; left: 0; right: 0; bottom: 0; top: 0; display: flex; align-items: center; justify-content: center; }
#loader { width: 8vmin; height: 8vmin; border: 1vmin solid var(--accent-color); border-bottom-color: transparent; border-radius: 50%; display: inline-block; box-sizing: border-box; animation: spinner 1s linear infinite; }
/* ---logo--- */
#logo { flex: 1; display: flex; justify-content: center; height: 86px; box-sizing: border-box; }
#logo svg { width:130px; height: 86px; }
#logo.ls { margin: 10px 0 0 0; flex: 0; }
#logo.ls svg { width:100px; height: auto; }
path#yo { fill: var(--logo); fill: url(#logo-gradient) #fff; stroke: var(--logo); }
path#radio { fill: var(--logo-red); stroke: var(--logo-red); stroke-width: 0.3px; filter: drop-shadow(1px 1px 0.8px rgba(0, 0, 0, .5)); }
/* ---eof logo--- */
/* ---inputs--- */
.yoinput[type=text], .yoinput[type=password], .yoinput[type=number] {
  width: 97%; background: var(--odd-bg-color); color: var(--accent-color); border: var(--input-border) 1px solid;
  padding: 6px 12px; font-size: 20px; font-weight: normal; margin-top: 4px; border-radius: 4px;
}
.yoinput[type=text]:focus, .yoinput[type=password]:focus, .yoinput[type=number]:focus { outline: none; }
/* ---eof inputs--- */
/* ---sliders--- */
.yoinput[type=range]::-webkit-slider-runnable-track { background: transparent !important; }
.yoinput[type=range]::-moz-range-track { background: transparent !important; }
.yoinput[type=range]::-webkit-slider-thumb { width: 0px; -webkit-appearance: none!important; height: 10px; cursor: ew-resize; background-color: 
                                          transparent!important; border: 0; }
.yoinput[type=range]::-moz-range-thumb { width: 20px; height: 20px; cursor: ew-resize; border: 0;  background: #fcd602; }
.yoinput[type=range] {
  overflow: hidden; border: solid 2px var(--accent-color); border-radius: 13px; height: 25px!important; outline: none; width: 100%; padding: 0; margin: 0;
  background: linear-gradient(to right, var(--accent-dark) 0%, var(--accent-dark) 0%, var(--odd-bg-color) 0%, var(--odd-bg-color) 100%);
  -webkit-appearance: none!important; -moz-appearance: none!important; appearance: none!important;
}
/* ---eof sliders--- */
/* ---checkboxses--- */
.checkbox { cursor: pointer; line-height: 26px;}
.checkbox .knob {
  background: var(--main-bg-color); display: block; border: var(--accent-color) 2px solid; border-radius: 13px;
  float: left; width: 50px; height: 26px; line-height: 22px; overflow: hidden;  position: relative; margin-right: 10px;
}
.checkbox .knob::before {
  content: ''; display: inline-block; height: 18px; width: 18px; background: var(--accent-color); border-radius: 9px; 
  box-shadow: 0 0 6px #000; margin-top: 2px; margin-left: 2px;
}
.checkbox .knob::after { content: 'OFF'; position: absolute; color: var(--main-text-color); font-size: 10px; font-weight: bold; left: 22px; top: 0px; }
.checkbox.checked .knob { background: var(--accent-dark); }
.checkbox.checked .knob::before{ margin-left: 26px; }
.checkbox.checked .knob::after{ content: 'ON'; color: var(--accent-text-color); left: 5px; }
/* ---eof checkboxses--- */
/*
#content { height: 100%; margin: 0 auto; position: relative; max-width: 580px; display: flex; flex-direction: column; padding: 10px 20px 14px 20px;}
#content.idx { max-width: 960px; }
#content.upd { padding: 30px; min-width: 580px; }
#playerwrap #modeplaying { display: none; }
#playerwrap { max-width: 440px; height: 100%; padding: 20px 20px 0 20px; margin: 0 auto; display: flex; flex-direction: column; }
*/
.playerwrap {
  width: 100%;
  flex: 1;
  display: flex;
  position: relative;
}
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 480px;
  margin: 0 auto;
}
#logow { display: flex; align-items: center;}
#copy { text-align: center; padding-top: 14px; font-size: 14px; }
/* ---playing controls--- */
.fb:active, .gb:active { position: relative; top: 2px; }
.gb { width: 54px; height: 54px; cursor: pointer; border: var(--accent-color) 2.5px solid; border-radius: 50%; 
               -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); stroke: var(--accent-color); display: flex; justify-content: center; align-items: center; }
.gb.nb { border-color: transparent; }
.gb:hover, .gb.active, #playerwrap.playing #playbutton { background-color: var(--accent-dark); border-color: var(--accent-color); }
.gb:hover svg, .gb.active svg, #playerwrap.playing #playbutton svg{ stroke: var(--main-bg-color); fill: none; }
.gb:hover svg.fill, .gb.active svg.fill{ fill: var(--main-bg-color);  stroke: none; }
.gb svg{ width: 28px; stroke: var(--accent-color); stroke-width: 2px; fill: none; stroke-linejoin: round; stroke-linecap: round; }
.gb.nb svg { width: 36px; }
.gb.active.nb svg { width: 32px; }
.gb svg.fill{ stroke: none; fill: var(--accent-color); }
/* ---eof playing controls--- */
#nameset { text-transform: uppercase; font-weight: bold; font-size: 22px; min-height: 26px; color: var(--accent-color); margin: 20px 0 8px 0; text-align: center; user-select: text; }
#meta { text-transform: uppercase; font-size: 16px; min-height: 19px; margin-bottom: 14px; text-align: center; color: var(--main-hl-color); user-select: text;}
#playernav { display: flex; justify-content: space-between; }
#equalizerwrap { position: relative; display: flex; flex: 1; flex-direction: column; align-items: center; }
#equalizerbg { position: absolute; left: -20px; right: -20px; bottom: 0; top: 2px; background: rgba(0, 0, 0, 0.1); backdrop-filter: blur(1px); z-index: 7; }
#eqalbutton { position: relative; }
#equalizer { padding: 14px 34px; background: var(--main-bg-color); box-shadow: var(--main-bg-color) 0 10px 20px; margin: 0; }
#equalizer li { margin-bottom: 10px; color: var(--main-hl-color); }
.eqinfo, .inputinfo { float: right; }
#volslider, #sdslider{ width: 440px; margin: 26px -20px 0 -20px; }
#sdslider { margin-top: 0; }
#snuffle { height: 22px; border: solid 2px var(--accent-color); background: var(--odd-bg-color); border-radius: 14px; cursor: pointer; min-width: 100px; display: flex; justify-content: center; }
#snuffle svg { fill: var(--accent-color); width: 22px; }
#snuffle.active { background: var(--accent-dark); }
#snuffle.active svg { fill: var(--main-bg-color); }
#playernav .modeweb { display: flex; }
#playernav.sd .modeweb { display: none; }
#playernav .modeitem { display: none; }
#playernav.sd .modeitem { display: flex; }
#sdposvals { display: flex; justify-content: space-between; height: 26px; align-items: end; padding: 0 8px; position: relative; }
#info { display: flex; width: 100%; height: 22px; justify-content: space-around; align-items: center; font-size: 14px; margin: 10px 0; color: var(--main-hl-color); }
#bitinfo { opacity: 0; min-width: 100px;}

#navbar {
  display: flex;
  width: 400px;
  justify-content: space-between;
  position: absolute;
  top: 0;
  padding: 30px 0 0;
  box-sizing: border-box;
}
.playerbyttonwrap {
  display: flex;
  width: 400px;
  justify-content: center;
/*  justify-content: space-between; */
  margin-top: 14px;
}
.playerbytton, .stopped, .playing {
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: #e3d25f 2px solid;
  border-radius: 26px;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
.navbutton {
  border-color: transparent;
}
#settingspopup .navbutton {
  background-color: #000;
  border-color: #272727;
  margin-top: 8px;
}
.navbutton:hover, #settingspopup .navbutton:hover, .navbutton.active {
  border-color: #e3d25f;
}
.playerbytton:hover, .stopped:hover, .playing:hover, .navbutton.active {
  background-color: #272727;
}
.playerbytton:active, .stopped:active, .playing:active {
  position: relative;
  top: 2px;
}
.stopped {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAM1BMVEUAAADayFbZx1TZxlTYxFPbyFXax1XYxlPZx1Tax1fdy1zfzl7fz17i0l/YxlLh0WDWwVLnkgnwAAAAEHRSTlMAIwh9+OrQS6v46tCrS6t91qNE9QAAAGNJREFUOMvNzzsOwCAMBNEA+UEg8f1PGwqkrQYKGl490trbQlIZBGaP6wdV9oPA4tcPqlQGAZ9ikj0GTQwQyHFBIKeDQG6PQbOHyeD1E0fCmzDewH8C46JxoHGgcaBxUMfX9QPcHQ+9Aj/oHwAAAABJRU5ErkJggg==');
}
.playing {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEUAAADWwVJ75yaaAAAAAXRSTlMAQObYZgAAABNJREFUCNdjIAIw/qtvoA1BGAAALRcj3aKmlAcAAAAASUVORK5CYII=');
}
#prevbutton {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAV1BMVEUAAADXwlLTvk/ZxFLYxFTWwU/ax1bcylrWwU7SvkvSvUvYw1Ldy1rWwlHLtkfezFrGr0PNt0rWwlDVwE3VwE3ZxlXRvErWwVLMtkbYxFTJs0XHsETWwVLOGYtGAAAAHHRSTlMA/irm/Pvm49rLoZOPj1IoFgry8ue1tWtrODgmh/T5aQAAAH5JREFUOMvtkEkOhDAMBMlMgFnY96X//05kIccofeNMnVpRtWI7eTAAy9sQ4uvNQjtZLh1IWFIAWgdiYf9A0DoJP5xoPRKqHkH4O8RC80VA6iSkMBzuCPwFD9nRkLSmszUzFuT5cqjCkyDMHprrnAShHS0XngRhzUKs8+RBOQBR0BhpzJ3C5gAAAABJRU5ErkJggg==');
}
#nextbutton {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAP1BMVEUAAADMtUbTvUnVv0vFrEDVwE7Xwk7WwE7Vv0zZxVLRu0fPuEXMtUTJsULUvkvSvEnUvkvPuUbPuUnGrkLWwVJYz0wMAAAAFHRSTlMAKJHlEP3m+PLjy6BrUtratbU4ODQBaUcAAABsSURBVDjL7ZFLDoAgDEStCIr4t/c/q11NQzIx0TWzeiGPQjpdC5IFmC4/VnXqHY+BCZoFOC5MsCGOmzBBkwC1MMGGOE4rE2yIIvNQCSTxjxCqJz5/MggwlvdF7WRRga2al3WSsuw68K7qbkEeyrQRwhWi/UIAAAAASUVORK5CYII=');
}
#volpbutton {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAh1BMVEUAAADYw1PYxVPYxVLZxlLZxlTaxlPWwU7YxFPVwE/Uv0/Xw1DVwE/Xw1LZxVHYxVHZx1PYxFLUwE7Xw0/ZxlLayFbYxFDXw0/YxFDYxFHWwk/WwVDWwU7ZxlLax1XWwU3YxFDZxVLZxlPZx1XXxFHVwE7SvUvOtkfRvEvZxVTTvUrYxVTWwVKLMmxzAAAALHRSTlMA/fn11ezpf0onCJNFIebfx2ow68/NzMazoXcbzr2qqKeZhnBdUjcmEPCjjhEq/osAAAEJSURBVDjLzZLZbsMgEEUvxjbUW1zHcdKm6ZI26Xb///sKOJQYKe5blSMZacRgzsyA6+O7whxVQqFn9m8SkitcpPikKIUowoEoobXHV3zz8a2oJ/uvJPdmfcGJlHcTAUFSo2YLxwGKGc7IaCgA5i7cCHyQ3uKRIwkAIWHJqdFQYUT4hC2Q2KwOvRFovURNTwZkwuileOYOG67h0Pylw4LO454pSi5OBYcEhZTOQ7MxScs//xA75KNDbx3W3iGqQiZuCgOf8GC+i31oeMCSCoHcd7JxYUnbyfd4FlWYxRHKF4FQ7N6sfppG4QsTdmSPIbyHTtobooGWPHtRBSK2kuSAGY7Ses6iKvw/PwyhJAGIlTu+AAAAAElFTkSuQmCC');
}
#volmbutton {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAeFBMVEUAAADWwVDXwk/XwlDYw1HYxFHIsEPQuErHr0PYw1DXwU/SvEjPuEjPt0nOt0nUv03TvkvXwk/PuUbXwlHXwlDOuEjKs0TUvk3Vv0/ErUDDrD/FrUHYxFLYxFLTvkvOuUbXwU/QuknMtkXKs0PWwlHUv0/Uv0/WwVKXISjGAAAAJ3RSTlMA/un59s5IJAjt1M1gMBv57t+qloWAcGtFRSgh1cfHxbuZk45KOAo8z5fqAAAAtklEQVQ4y83QyY7CUAxE0XJ4GUhCoJuhoZnH+/9/CAgFCQW/JeIsvCpZZev7HBeKWQyxTL7/IVDJVYywg1khzxYqVdRyzAymmrH3ChiQKWfjBEYAhUSirl8eepIsqMvaQCP17qmBXixpJVLfpLLUi4yngX6s26PmaaqStkd8Q7xDunKusEYK9yvyyB8Iei/xPtnKDZgrZy3HHzC5zbE8O0iVUsvVhzFc5GoCkCriHOCkqMlcn3cF3TAYGGjhmvYAAAAASUVORK5CYII=');
}
#playlistbutton {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAdVBMVEUAAADZxVTXw1LXw1Lax1XbyVfdzFnUv07ezVrVwVHax1bax1bax1bZxlPayFbdzFrax1XWw1HayFXVwE3Vv03Ww1Ddy1rezVzcyljSu0nax1XbyljVwE7PuEfXxFLTvkzWw1HOtkbWwlDfzlzWw1LSvU3WwVKHwjH4AAAAJnRSTlMA+v706cx0RhIG8+zgs5CDbWEq8tzTxLu2tamhmIuDdmdaUD84IRXj8HEAAACQSURBVDjL3ZFHDoUwDESdkEKHz++9c/8jYiEsQLLZsEHMajLzpFg2LFeRf2RCVZVXa1SNYspjGuuaxAF9OR8IUglQib24H3oBCMlKAKwI8LennwA+AbfqsLCnvA1f7C2cojDSHOD6cEN2OwQUA9wH/ZdCg190I55HExJQ4uO/R7N7w0iHttY5iCpMnGQVLFQN7WofD//k5c4AAAAASUVORK5CYII=');
}
#sdbutton {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAdVBMVEUAAADWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVKFdKrkAAAAJnRSTlMA+YrM2clf7eH18cSGcGVXQRoP5761rJFyEwjTmXhoTUs2KyYfpLSDvKIAAADTSURBVDjLzdDJDoMwDEVROyElYS5TKZ2n9/+f2LTqBhJA3XE3lqwjRTGtqZwxqB0DAaUDaZQJtJGIK7ig3GUPWcr8JJ9MRw8gsdkqUtdU7pl2M6CbBMmljCkuMkVMiQdEzBFCGIYd7IAEw8bgyfPgDswDvQSCJSAZNp4G+xqouixt8ErTTriAGqC0I8eGbBcH9AzQzQAWVNGWHBB/N7eitUDjTOz7hXz01IcWcOYHOuKCLFAHzxPBb3Pn/DPOXlAnp2OIRghR8/+XPCyBIsSoltbTG+uEKyfwC399AAAAAElFTkSuQmCC');
}
#snuffle span {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAYCAMAAACLI47uAAAApVBMVEUAAABtbW1tbW3WwVJtbW3WwVJtbW3WwVJtbW3WwVJtbW3WwVLWwVLWwVJtbW3WwVLWwVJtbW3WwVJtbW3WwVLWwVJtbW3WwVJtbW3WwVJtbW3WwVJtbW1tbW1tbW1tbW1tbW3WwVLWwVLWwVJtbW1tbW3WwVJtbW3WwVLWwVLWwVLWwVJtbW1tbW1tbW3WwVJtbW3WwVLWwVJtbW1tbW1tbW3WwVI5rvdYAAAANXRSTlMAihISDAzUi2hoCgr40cvLuIV6XFxEMTEdHRgYSUP49+fn19a5tqKRkYiFhH14cXFWVkuioSFu79cAAAC8SURBVDjL7ZJHDsJADEVnIL1Aeg+992bf/2iYJFKkCARhnbd6Y8mSPd+s4y9CvOrv6gFctEJ0R5ZlJyzd221XiNaNXDtwzo8BGblr8wfAImNE30DCUEnFIZZY9OiNgRgppMIASpas6CD8GapMnOMmFn2cekW9R+QSKEyQYB0JOUxcVhObuDfxTJbKKauJJLAlOJElPKnL1Tgqa1CNo1TevqH9SF+XzhpLt/7WZnDih+AECu7+Cq71aXT8xhMHmR/V7aGidwAAAABJRU5ErkJggg==');
}
#snuffle {
  border: solid 2px #333;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
  min-width: 136px;
  text-align: center;
  position: absolute;
  z-index: 10;
  top: 5px;
  left: 50%;
  height: 24px;
  transform: translateX(-50%);
  display: block;
}
#snuffle span {
  width: 24px;
  height: 24px;
  background-position: -24px top;
  border: 0;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
#snuffle.active {
  background: #272727;
}
#snuffle.active span {
  background-position: left top;
}
#snuffle:hover span{
  background-color: transparent;
}
#snuffle:hover{
  border-color: #4d4d4d;
}
.modeweb #sdbutton{
  display: none;
}
.modescard #playlistbutton, .modesd #playlistbutton{
  display: none;
  background: red;
}
#eqalbutton {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAKlBMVEUAAADYxFTXw1LZxVbax1jXwlHZxlbTvk7gz17fzVzbyFjYxFTh0GDWwVITDq6YAAAADXRSTlMA+/f79/v3gICAgICAFE2HUQAAAF1JREFUKM9joCrgVluAKsB4VwBVgPfuBSjrLgQABe7exRBA00LAUK60CXA2u1IBqiTr3QAgids8iI0QgCGAywmsMCcgrN2AJTw4XRpQBZjvGlA9PDAN5XA5QK0YBQAgJU6T2VaqEAAAAABJRU5ErkJggg==');
}
#settingsbutton {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAhFBMVEUAAADWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVLWwVI/Yv/TAAAAK3RSTlMA+Qfv1iQNA+NG9MW3sBPp29KrkIrOvX13aVwxl5ODPTYrKXFNHWIam1Sg0kQPhwAAAYZJREFUOMutUll2wyAMFAZsvO+O6zVJm25z//sVTNzYbfKX+eAhpKcZRqIn4xVAcKDHSFkTsty5l5JncyInJ80SfTt97PMvDCXREZFHivdEJfC+y4MBYQyMRBHQ5Cb2b/kzY/OlAUQpNdkogCjxOY43AUBC3svXVZ3jdx5RsG1RGvI9QpTbsLaaZJFl39I60ux+G+FNny3AOfC6yC62+SOMOwcIX8q5RqV1MH5as60CzNsJYondjGn9IwBVkQGYiKsLUbzK7nAgSspYMNiC2L7n/GwvH1d+r7YFq15xK4gtV34tQJBGmqJYKd4NhRPyAGyJp1BwlEZk7po4Uawn+gQX4XC11u0hHGOO6ly3U5h0+yA9u87WWNO+CqARTP+N8rLFSTq1RdFKuwDh1uoB8d9hLX6umBG45E2Hddyt+YXSTVdcgDenBtiQaHmfDMjcI9DTLzozxXjkGIgapEOEFOyLNvCByiNpl1Yug+9oh342J4SX8GXt557uQUGlqB16iIkBbKTn4gc06SOTkNCxDAAAAABJRU5ErkJggg==');
}
#settingspopup {
  position: absolute;
  right: 0;
  left: 0;
  top: 10px;
  height: 120px;
  margin: 0 auto;
  background: #000;
  width: 160px;
  z-index: 3;
  padding-top: 10px;
}
#settingspopup .button {
  margin: 10px 0;
}
#settingspopup.hidden {
  display: none;
}
.infowrap {
  display: flex;
  width: 400px;
  justify-content: space-around;
  font-size: 14px;
  margin: 16px 0;
}
#volrange, .slider {
  overflow: hidden;
  width: 432px;
  margin-top: 34px;
  background: linear-gradient(to right, #bfa73e 0%, #bfa73e 0%, #272727 0%, #272727 100%);
  border: solid 2px #e3d25f;
  border-radius: 13px;
  height: 25px!important;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
  box-sizing: border-box;
}
#sdpos {
  width: 432px;
}
#volnav {
  position: relative;
}

#equalizerwrap.sd .infowrap {
  margin: 8px 0;
}
#equalizerwrap.sd #modeline {
  display: block;
}
#equalizerwrap.sd #volrange {
  margin-top: 46px;
}
#equalizerwrap.sd #sdposvals {
  height: 46px;
}
.playerbyttonwrap.sd {
  margin-top: 6px;
  margin-bottom: 8px;
}
#sdposvals {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: end;
  padding: 0 8px;
  position: relative;
}
#volrange::-webkit-slider-thumb, .slider::-webkit-slider-thumb {
  width: 0px;
  -webkit-appearance: none!important;
  height: 10px;
  cursor: ew-resize;
  background-color: transparent!important;
  border: 0;
}
#volrange::-moz-range-thumb, .slider::-moz-range-thumb {
  width: 10px;
  -moz-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background-color: transparent!important;
  border: 0;
}
#playlist {
  scroll-behavior: smooth;
  position: relative;
  scrollbar-color: var(--accent-dark) var(--main-bg-color);
  overflow: auto; overflow-y: auto;
  border: solid 1px var(--accent-color);
  flex: 1 1 auto;
  
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAABOAQMAAAAw4lVwAAAABlBMVEUnJycAAADxyujSAAAADklEQVQI12OgLjhATQgAdZgdQbNqrBUAAAAASUVORK5CYII=');
}
#playlist li { display: flex; overflow: hidden; background: var(--main-bg-color); cursor: pointer;
  color: #bfa73e;
}
#playlist li span.text { flex: 1; font-size: 20px; padding: 8px 0 8px 16px; text-transform: uppercase; word-break: break-word; }
#playlist li span.count { display: flex; flex-direction: column; justify-content: center; padding: 0 10px; text-align: right; font-size: 14px; vertical-align: middle; }
#playlist li span { color: var(--accent-dark); }
#playlist li:nth-child(odd) { background: var(--odd-bg-color); }
#playlist li:hover { color: var(--main-text-color); background: var(--playlist-hover); }
#playlist li.active { background: var(--accent-dark); }
#playlist li.active span { color: var(--accent-text-color); }
@keyframes spinner { 0% { transform: rotate(0deg);  } 100% { transform: rotate(360deg); } }
@-webkit-keyframes spinner { 0% { transform: rotate(0deg);  } 100% { transform: rotate(360deg); } }

@media screen and (max-width: 480px) {
  /*#volslider, #sdslider { width: 100%; margin: 22px 0 0 0; height: 25px; }*/
  #volslider, #sdslider { width: 100%; }
  #settingscontent, #settingsdone, .navigation { zoom: 0.7; -moz-transform: scale(0.7); }
}
@media screen and (max-width: 420px) {
  .gb { width: 50px; height: 50px; }
}
@media screen and (max-width: 360px) {
  .gb { width: 44px; height: 44px; }
}

