html, body { margin: 0; padding: 0; height: 100%; }
body { background: var(--main-bg-color); color: var(--main-text-color); font-family: Times, "Times New Roman", serif; font-size: 16px; min-height: calc(100vh - 1px); min-width: 333px;}
*, *::before, *::after { box-sizing: border-box; scrollbar-width: thin; user-select: none; }
a { color: var(--accent-color); text-decoration: none; font-weight: bold }
a:hover { text-decoration: underline }
ul, ol { list-style-type: none; margin: 0; padding: 0;}
h2 { text-align: center; padding-top: 10px; margin: 0 auto; text-transform: uppercase; font-weight: bold; font-size: 26px; color: var(--accent-color); }
h2.pagetitle { line-height: 48px; margin: 5px 0 5px 0 }
.hidden { display: none!important; }
#progress { position: absolute; z-index: 1000; background: var(--main-bg-color); opacity: 0.8; left: 0; right: 0; bottom: 0; top: 0; display: flex; align-items: center; justify-content: center; }
#loader { width: 8vmin; height: 8vmin; border: 1vmin solid var(--accent-color); border-bottom-color: transparent; border-radius: 50%; display: inline-block; box-sizing: border-box; animation: spinner 1s linear infinite; }
/* ---logo--- */
#logo { flex: 1; display: flex; justify-content: center; height: 86px; box-sizing: border-box; }
#logo svg { width:130px; height: 86px; }
#logo.ls { margin: 10px 0 0 0; flex: 0; }
#logo.ls svg { width:100px; height: auto; }
path#yo { fill: var(--logo); fill: url(#logo-gradient) #fff; stroke: var(--logo); }
path#radio { fill: var(--logo-red); stroke: var(--logo-red); stroke-width: 0.3px; filter: drop-shadow(1px 1px 0.8px rgba(0, 0, 0, .5)); }
/* ---eof logo--- */
/* ---inputs--- */
input[type=text], select[type=text], input[type=password], input[type=number] {
  width: 97%; background: var(--odd-bg-color); color: var(--accent-color); border: var(--input-border) 1px solid;
  padding: 6px 12px; font-size: 20px; font-weight: normal; margin-top: 4px; border-radius: 4px;
}
input[type=text]:focus, input[type=password]:focus, input[type=number]:focus { outline: none; }
/* ---eof inputs--- */
/* ---sliders--- */
input[type=range]::-webkit-slider-runnable-track { background: transparent !important; }
input[type=range]::-moz-range-track { background: transparent !important; }
input[type=range]::-webkit-slider-thumb { width: 0px; -webkit-appearance: none!important; height: 10px; cursor: ew-resize; background-color: 
                                          transparent!important; border: 0; }
input[type=range]::-moz-range-thumb { width: 10px; height: 10px; cursor: ew-resize; background-color: transparent!important; border: 0; }
input[type=range] {
  overflow: hidden; border: solid 2px var(--accent-color); border-radius: 13px; height: 25px!important; outline: none; width: 100%; padding: 0; margin: 0;
  background: linear-gradient(to right, var(--accent-dark) 0%, var(--accent-dark) 0%, var(--odd-bg-color) 0%, var(--odd-bg-color) 100%);
  -webkit-appearance: none!important; -moz-appearance: none!important; appearance: none!important;
}
/* ---eof sliders--- */
/* ---checkboxses--- */
.checkbox { cursor: pointer; line-height: 26px;}
.checkbox .knob {
  background: var(--main-bg-color); display: block; border: var(--accent-color) 2px solid; border-radius: 13px;
  float: left; width: 50px; height: 26px; line-height: 22px; overflow: hidden;  position: relative; margin-right: 10px;
}
.checkbox .knob::before {
  content: ''; display: inline-block; height: 18px; width: 18px; background: var(--accent-color); border-radius: 9px; 
  box-shadow: 0 0 6px #000; margin-top: 2px; margin-left: 2px;
}
.checkbox .knob::after { content: 'OFF'; position: absolute; color: var(--main-text-color); font-size: 10px; font-weight: bold; left: 22px; top: 0px; }
.checkbox.checked .knob { background: var(--accent-dark); }
.checkbox.checked .knob::before{ margin-left: 26px; }
.checkbox.checked .knob::after{ content: 'ON'; color: var(--accent-text-color); left: 5px; }
/* ---eof checkboxses--- */
#content { height: 100%; margin: 0 auto; position: relative; max-width: 580px; display: flex; flex-direction: column; padding: 10px 20px 14px 20px;}
#content.idx { max-width: 960px; }
#content.upd { padding: 30px; min-width: 580px; }
#playerwrap #modeplaying { display: none; }
#playerwrap { max-width: 440px; height: 100%; padding: 20px 20px 0 20px; margin: 0 auto; display: flex; flex-direction: column; }
#logow { display: flex; align-items: center;}
#copy { text-align: center; padding-top: 14px; font-size: 14px; }
/* ---playing controls--- */
.fb:active, .gb:active { position: relative; top: 2px; }
.gb { width: 54px; height: 54px; cursor: pointer; border: var(--accent-color) 2.5px solid; border-radius: 50%; 
               -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); stroke: var(--accent-color); display: flex; justify-content: center; align-items: center; }
.gb.nb { border-color: transparent; }
.gb:hover, .gb.active, #playerwrap.playing #playbutton { background-color: var(--accent-dark); border-color: var(--accent-color); }
.gb:hover svg, .gb.active svg, #playerwrap.playing #playbutton svg{ stroke: var(--main-bg-color); fill: none; }
.gb:hover svg.fill, .gb.active svg.fill{ fill: var(--main-bg-color);  stroke: none; }
.gb svg{ width: 28px; stroke: var(--accent-color); stroke-width: 2px; fill: none; stroke-linejoin: round; stroke-linecap: round; }
.gb.nb svg { width: 36px; }
.gb.active.nb svg { width: 32px; }
.gb svg.fill{ stroke: none; fill: var(--accent-color); }
/* ---eof playing controls--- */
#nameset { text-transform: uppercase; font-weight: bold; font-size: 22px; min-height: 26px; color: var(--accent-color); margin: 20px 0 8px 0; text-align: center; user-select: text; }
#meta { text-transform: uppercase; font-size: 16px; min-height: 19px; margin-bottom: 14px; text-align: center; color: var(--main-hl-color); user-select: text;}
#playernav { display: flex; justify-content: space-between; }
#equalizerwrap { position: relative; display: flex; flex: 1; flex-direction: column; align-items: center; }
#equalizerbg { position: absolute; left: -20px; right: -20px; bottom: 0; top: 2px; background: rgba(0, 0, 0, 0.1); backdrop-filter: blur(1px); z-index: 7; }
#eqalbutton { position: relative; }
#equalizer { padding: 14px 34px; background: var(--main-bg-color); box-shadow: var(--main-bg-color) 0 10px 20px; margin: 0; }
#equalizer li { margin-bottom: 10px; color: var(--main-hl-color); }
.eqinfo, .inputinfo { float: right; }
#volslider, #sdslider{ width: 440px; margin: 26px -20px 0 -20px; }
#sdslider { margin-top: 0; }
#snuffle { height: 22px; border: solid 2px var(--accent-color); background: var(--odd-bg-color); border-radius: 14px; cursor: pointer; min-width: 100px; display: flex; justify-content: center; }
#snuffle svg { fill: var(--accent-color); width: 22px; }
#snuffle.active { background: var(--accent-dark); }
#snuffle.active svg { fill: var(--main-bg-color); }
#playernav .modeweb { display: flex; }
#playernav.sd .modeweb { display: none; }
#playernav .modeitem { display: none; }
#playernav.sd .modeitem { display: flex; }
#sdposvals { display: flex; justify-content: space-between; height: 26px; align-items: end; padding: 0 8px; position: relative; }
#info { display: flex; width: 100%; height: 22px; justify-content: space-around; align-items: center; font-size: 14px; margin: 10px 0; color: var(--main-hl-color); }
#bitinfo { opacity: 0; min-width: 100px;}
#playerwrap.playing #modeplaying { display: inline-block; }
#playerwrap.playing #modestopped { display: none; }
#playerwrap.playing #bitinfo { opacity: 1; }
.formbuttons { display: flex; justify-content: space-around; max-width: 100%; width: 100%; margin: 0 auto; margin-top: 20px; }
.fb { padding: 8px 22px; font-size: 18px; border: var(--accent-color) 2px solid; font-weight: normal; border-radius: 20px; cursor: pointer;
      text-align: center; min-width: 120px; margin-left: 10px; margin-right: 10px; text-transform: uppercase; color: var(--accent-color); background: var(--odd-bg-color); }
.fb:hover, .fb.hl { background: var(--accent-dark); color: var(--accent-text-color); text-decoration: none; }
.fb.done { margin-left: calc(50% - 10px); transform: translateX(-50%); margin-top: 30px; margin-bottom: 20px; max-width: 140px;}
#playlist {
  position: relative; scroll-behavior: smooth; scrollbar-color: var(--accent-dark) var(--main-bg-color); overflow: auto; overflow-y: auto; border: solid 1px var(--accent-color); flex: 1 1 auto; height: 0px; width: 100%;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAABOAQMAAAAw4lVwAAAABlBMVEUnJycAAADxyujSAAAADklEQVQI12OgLjhATQgAdZgdQbNqrBUAAAAASUVORK5CYII=');
}
#playlist li { display: flex; overflow: hidden; background: var(--main-bg-color); cursor: pointer; }
#playlist li span.text { flex: 1; font-size: 20px; padding: 8px 0 8px 16px; text-transform: uppercase; word-break: break-word; }
#playlist li span.count { display: flex; flex-direction: column; justify-content: center; padding: 0 10px; text-align: right; font-size: 14px; vertical-align: middle; }
#playlist li span { color: var(--accent-dark); }
#playlist li:nth-child(odd) { background: var(--odd-bg-color); }
#playlist li:hover { color: var(--main-text-color); background: var(--playlist-hover); }
#playlist li.active { background: var(--accent-dark); }
#playlist li.active span { color: var(--accent-text-color); }
#pleditorwrap { position: absolute; background: var(--main-bg-color); top: 116px; right: 0; left: 0; bottom: 44px; padding: 30px 10px 20px 0; overflow-y: auto; z-index: 50; }
#pleditor h2 { line-height: 48px; margin: 5px 0; padding-left: 0px; }
#pleditor .gb { float: right; width: 40px; height: 40px; border-color: transparent; }
#pleditor .gbsearch { float: left; }
#pleditor { display: flex; flex-direction: column; justify-content: center; min-width: 880px; height: 100%; }
#pleheader { display: flex; }
#pleheader span { padding: 8px; font-weight: bold; color: var(--accent-color)!important; }
#pleheader .grabbable { width: 40px; text-align: center; padding: 8px 8px;}
#pleheader .space { width: 30px; text-align: right; padding: 8px 10px; }
#pleheader .space input { margin: 0; }
#pleheader .pleovol { width: 62px; }
#pleditorcontent::-webkit-scrollbar { width: 5px; height: 8px; background-color: var(--main-bg-color); }
#pleditorcontent::-webkit-scrollbar-thumb { background: var(--accent-dark); }
#pleditorcontent { flex: 1 1 auto; overflow-y: scroll; height: 0px; border: var(--accent-color) 2px solid; box-sizing: border-box; scrollbar-color: var(--accent-dark) var(--main-bg-color); scrollbar-width: thin;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAABAAgMAAACrYYWUAAAACVBMVEUnJycAAAAtLS3JOrneAAAAGElEQVQI12NYtYKBZgBoOAiFhtAIAQ0HALK+GReOr3bpAAAAAElFTkSuQmCC');
}
#pleditorcontent li:nth-child(odd), #pleditorcontent li:nth-child(odd) input, #pleditorcontent li:nth-child(odd) span { background: var(--odd-bg-color); }
.grabbable { cursor: copy; cursor: -moz-grab; cursor: -webkit-copy; }
.pleitem { display: flex; justify-content: space-between; background: var(--main-bg-color); }
.pleitem span { display: flex; flex-direction: column; justify-content: center; text-align: right; color: var(--main-text-color); width: 40px; padding: 0 8px; font-size: 14px; border: var(--odd-bg-color) 1px solid; }
.pleitem input { font-family: Times, "Times New Roman", serif; background: var(--main-bg-color); color: var(--accent-dark); height: 32px; line-height: 32px; text-indent: 8px;
  font-size: 18px; border: var(--odd-bg-color) 1px solid; font-weight: normal; margin-top: 4px; border-radius: 0px; outline: none; margin: 0; padding: 1px 2px; width: auto; }
.plecheck { width: 30px!important; }
.plecheck input { line-height: 10px; height: auto; }
.plename { width: 300px!important; }
.pleurl { flex: 1; color: var(--main-hl-color)!important; }
.pleovol { width: 53px!important; font-size: 16px!important; }
.pleitem span.pleplay { width: 28px!important; height: 28px; text-indent: -1px; font-size: 12px!important; cursor: pointer; color: var(--main-text-color); border: transparent 2px solid; border-radius: 50%; margin: 2px;}
.pleitem span.pleplay:hover, .pleitem.active span.pleplay { background: var(--accent-dark)!important; color: var(--main-bg-color); border-color: var(--accent-color); }
.pleitem.active input.plename { font-weight: bold; color: var(--accent-color); }
#audiopreview { margin: 0 auto; display: none; }
#previewinfo { line-height: 24px; height: 24px; font-size: 16px; text-align: center; color: var(--main-text-color); }
#previewinfo a { color: var(--accent-color); text-decoration: underline; font-weight: normal; }
#previewinfo.error { color: #ff0000; font-weight: bold; }
/* SЁTTINGS */
.hr { height: 1px; width: 100%; background: var(--main-bg-color); }
#settingswrap { overflow-y: auto; flex: 1; }
#settingswrap::-webkit-scrollbar { width: 5px; height: 8px; background-color: var(--main-bg-color); }
#settingswrap { scrollbar-color: var(--section-border) var(--main-bg-color); scrollbar-width: thin; }
#settingswrap::-webkit-scrollbar-thumb { background: var(--section-border); }
.navigation { display: flex; justify-content: space-evenly; margin: 0 20px 14px 0; }
.navitem { text-transform: lowercase; cursor: pointer; color: var(--main-text-color); }
.navitem:hover { text-decoration: underline; color: var(--accent-color); }
section { border: var(--section-border) 1px solid; border-radius: 10px; box-sizing: border-box; padding: 20px 20px 30px 20px; margin: 10px 0 30px 0; width: 100%;
  background-image: linear-gradient(var(--main-bg-color), var(--section-gradient)); position: relative; scroll-margin-top: 20px; }
section.group_weather { margin-bottom: 10px; }
section .title { width: auto; margin-top: -34px; padding: 4px 0 30px 0; color: #aaa; text-align: center; }
section .title span { padding: 4px 8px; background: var(--main-bg-color); font-weight: bold; font-size: 18px; text-transform: uppercase; }
#settingscontent { display: flex; align-items: center; flex-direction: column; flex: 1; padding: 20px 12px 0 0; }
.row-title { margin: 14px 0 -6px 0; padding-top: 14px; text-align: center; border-top: var(--section-border) 1px solid; }
.row-title span { color: var(--main-text-color); font-weight: bold; font-size: 18px; text-transform: uppercase; }
.flex-row { display: flex; justify-content: space-between; align-items: flex-end; padding: 0 0 10px 0; box-sizing: border-box; }
.flex-row.center { justify-content: center; }
.flex-row.last { justify-content: space-evenly; padding: 20px 20px 0 20px; }
section .reset { position: absolute; cursor: pointer; background-color: var(--main-bg-color); border: var(--section-border) 2px solid; border-radius: 50%;
  width: 28px; height: 28px; right: 14px; top: -16px; }
section .reset:hover { background-color: var(--section-border); }
section .reset svg.fill{ fill: var(--section-border);  stroke: none; width: 22px;}
section .reset:hover svg.fill{ fill: var(--main-bg-color); }
.inputwrap { flex: 1; position: relative; padding-top: 20px; }
.inputtitle { display: inline-block; padding-left: 4px; padding-bottom: 4px; text-transform: lowercase; }
.cbwtitle { padding-top:16px; }
/* EOF SЁTTINGS */
/* UPDATE */
#uploaderwrap { padding-top: 25px; display: flex; flex-direction: column; align-items: center; flex: 1; margin: 0 auto; }
#update_cancel_button { padding: 8px 32px; margin: 60px 0 0; }
#uploadstatus { color: var(--main-hl-color); font-size: 16px; text-transform: uppercase; margin-bottom: 40px; text-align: center; }
#updateform { width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: space-between; margin: 0; padding: 0; }
#updateform .row { margin: 10px 0 20px 0; }
#updateform label { position: relative; display: inline-block; padding-left: 40px; margin: 0 14px 12px 14px; font-size: 18px; line-height: 29px; text-transform: uppercase;
  -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#updateform label input { position: absolute; cursor: pointer; opacity: 0; z-index: 5; width: 100%; margin: 0 0 0 -40px; height: 29px; }
.checkmark { position: absolute; top: 0; left: 0; height: 28px; width: 28px; background-color: var(--odd-bg-color); border-radius: 50%; border: var(--accent-color) 2px solid; }
#updateform label:hover input ~ .checkmark { background-color: var(--odd-bg-color); }
#updateform label input:checked ~ .checkmark { background-color: var(--odd-bg-color); }
.checkmark:after { content: ""; position: absolute; display: none; }
#updateform label input:checked ~ .checkmark:after { display: block; }
#updateform label .checkmark:after { top: 6px; left: 6px; width: 12px; height: 12px; border-radius: 50%; background: var(--accent-color); }
#updateform .rowinput { display: flex; width: 100%; }
#updateform input[type=file] { color: var(--main-hl-color); font-size: 16px; font-family: Times, "Times New Roman", serif; flex: 1; }
#updateform input[type=file]::file-selector-button { padding: 8px 22px; font-size: 18px; border: var(--accent-color) 2px solid; font-weight: normal; box-sizing: border-box;
  border-radius: 20px; cursor: pointer; text-align: center; min-width: 120px; margin-right: 20px; text-transform: uppercase; color: var(--accent-color); background: var(--odd-bg-color); font-family: Times, "Times New Roman", serif; }
#updateform input[type=file]::file-selector-button:hover { color: var(--odd-bg-color); background: var(--accent-color); }
#updateform .button { margin: 0; font-family: Times, "Times New Roman", serif; }
#updateprogress { background-color: var(--odd-bg-color); border: var(--accent-color) 2px solid; height: 30px; border-radius: 15px; width: 100%; margin: 0; overflow: hidden; }
#updateprogress::-webkit-progress-bar { overflow: hidden; background-color: var(--odd-bg-color); border-radius: 15px; }
#updateprogress::-webkit-progress-value { background-color: var(--accent-dark); border-radius: 15px 0 0 15px; }
#updateprogress::-moz-progress-bar { background-color: var(--accent-dark); border-radius: 15px; }
.onlineupdatebutton { margin: 0; font-family: Times, "Times New Roman", serif; }
#settingspopup.ir { width: 180px; }
#settingspopup.ir .button { padding: 8px 8px; }
#settingsbuttonir { display: none; }
#settingspopup.ir #settingsbuttonwifi { min-width: 104px; width: 104px; display: inline-block; }
#settingspopup.ir #settingsbuttonir { min-width: 60px; width: 60px; display: inline-block; margin-left: 0; float: right; }
.fb.tool { padding: 4px 12px; font-size: 14px; font-weight: normal; min-width: 100px; text-transform: lowercase;}
@keyframes spinner { 0% { transform: rotate(0deg);  } 100% { transform: rotate(360deg); } }
@-webkit-keyframes spinner { 0% { transform: rotate(0deg);  } 100% { transform: rotate(360deg); } }

@media screen and (max-width: 480px) {
  /*#volslider, #sdslider { width: 100%; margin: 22px 0 0 0; height: 25px; }*/
  #volslider, #sdslider { width: 100%; }
  #settingscontent, #settingsdone, .navigation { zoom: 0.7; -moz-transform: scale(0.7); }
}
@media screen and (max-width: 420px) {
  .gb { width: 50px; height: 50px; }
}
@media screen and (max-width: 360px) {
  .gb { width: 44px; height: 44px; }
}
